<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Aplicacion Turnero</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container">
              <a class="navbar-brand" href="/">Turnero App</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div class="fw-bold text-primary">
                    {% if user.is_authenticated %}  
                        <span class="text-center">Bienvenido ({{user.username}})</span>
                    {% endif %}
                </div>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0"> 
                  <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Inicio</a>
                  </li>
                  {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/turnos_pendientes">Turnos Pendientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/turnos_completados">Turnos Completados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/turno/crear/">Solicitar Turno</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Cerrar Sesion</a>
                        </li>                    
                  {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/signup">Crear Cuenta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signin">Iniciar Sesion</a>
                        </li>
                  {% endif %}
                </ul>
              </div>
            </div>
        </nav>

        {% block content %}
        {% endblock %}

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>    
    </body>
</html>