{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<main class="container">
    <div class="row">
        <div class="col-lg-6 offset-md-2 mt-5">        
            <form action="/turno/crear/" method="POST" class="card card-body">
                <h1 class="text-center">Crear Turno</h1>
                <div class="mb-3 text-center text-warning fw-bold">
                    {{ error }}
                </div>    
                </br>    
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary">Grabar</button>
            </form>
        </div>
    </div>
</main>

{% endblock %}