{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Gestion de Turnos</h1>
        <p>Turnero es un aplicación de gestión y atención de turnos, desarrollado por medio de software y hardware que van de la mano con la más alta compatibilidad y servicio en el que el objetivo es facilitar y optimizar el servicio de las filas de la manera más fácil y clara posible por medio de una plataforma web.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Iniciar Sesión</a>
            <a class="btn btn-primary" href="/signup/">Crear Cuenta</a>
        </div>
    </section>
</main>
{% endblock %}

