{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <section class="col-md-4 offset-md-4 mt-5">
            <form action="/signin/" method="POST" class="card card-body">
                <h1 class="text-center">Iniciar Sesión</h1>

                <div class="mb-3 text-center text-warning fw-bold">
                {{ error }}
                </div>    
                </br>
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Usuario:</label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Escribir su cuenta de Usuario">
                </div>

                <div class="mb-3">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Escribir su contraseña">
                </div>

                <button class="btn btn-primary">Iniciar</buttonc>
            </form>
        </section>
    </div>  
</main>    
{% endblock %}
