{% extends 'base.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <!--<div class="col-md-6 offset-md-3 mt-5">-->
        <div class="col-sm-6 col-md-6 col-lg-12 col-xl-12 mt-5">
            <h1 class="text-center display-5 fw-bold">Listado de Turnos Pendientes</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a class="btn btn-primary" href="/turno/crear/">Agregar Turno</a>
            </div>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ticket</th>
                            <th>Servicio</th>
                            <th>Cliente</th>
                            <th>Estado</th>
                            <th>Comentario</th>
                            <th>Fecha</th>
                            <th>Hora</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for turno in turnos %}
                        <tr>
                            <td>{{turno.nticket}}</td>
                            <td>{{turno.servicio}}</td>
                            <td>{{turno.cliente}}</td>
                            <td>{{turno.estado}}</td>
                            <td>{{turno.comentario}}</td>
                            <td>{{turno.fecha}}</td>                            
                            <td>{{turno.hora}}</td>
                            <td><a href="editarTurno/{{turno.turno_id}}" class="btn btn-info">Editar</a></td>
                            <td><a href="eliminarTurno/{{turno.turno_id}}" class="btn btn-danger">Eliminar</a></td>
                            <td><a href="ImprimirTurno/{{turno.turno_id}}" class="btn btn-danger">Imprimir</a></td>
                        </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>

{% endblock %}